.playzone,
.category-play-zone,
.category-games{
    background-image: url('../images/bg_purple.jpeg');
}
#squish-brick{
    /* border: 1px solid #333; */
    background-color: #eee;
    width: 100%;
}
.game-wrapper{
    position: relative;
    width: 500px;
    margin: 0 auto; 
    margin-top: 1em;
}
.wellcomeScreen,
.infoContent{
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color:#1abc9c;
  color: #fff;
}
.count-down-box{
    font-size: 100px;
    position: absolute;
    top: 0;
    text-align: center;
    margin: 15% auto;
    width: 100%;
    color: #1abc9c;
    font-weight: 900;
}
.wellcomeContent{
    width: 50%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.wellcomeContent h1{
    color: #fff;
}
.wellcomeContent p{
    color: #fff;
    font-size: 16px;
}
.wellcomeTitle{
   margin: 0 auto;
}

.brickBtn{
    border: none;
    background-color: #34495e;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    margin-top: 1em;
    cursor: pointer;
    
}
.brickBtn:hover{
    background-color: #2c3e50;
}
.brickBtn:active{
    background-color: #2c3e50;
    border: 1px solid #34495e;
}

@media only screen and (max-width: 600px) {
    .game-wrapper{
        width: 100%;
    }
    
}

@media only screen and (min-width: 600px) {
    .game-wrapper{
        width: 80%;
    }
    .mobile-controller{
        display: block;
    }
} 
@media only screen and (min-width: 992px) {
    .mobile-controller{
        display: none;
    }
    .game-wrapper{
        width: 500px;
       
    }
} 

.mobile-controller{
    width: 150px;
    margin-left: auto;
}
.mBtn{
    width: 40px;
    height: 40px;
    background-color: #9b59b6;
    color: #fff;
    padding:10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,.7);
    margin: 3px;
    cursor: pointer;
}

.mBtn:hover,
.mBtn:active{
    background-color: #8e44ad;
}

.side {
   opacity: 0;
}