
  .count-down{
    color: #fff;
    text-align: center;
    font-size: 55px;
    margin: 0 auto;
    text-shadow: 1px 1px #333;
    font-weight: 900;
    padding-bottom: 5px;
  }

  .memory-main{
    position: absolute;
    top: 0;
    left: 0;
    BOTTOM: 0;
    right: 0;
    background:#3498db;
    z-index: 1;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  .memory-main-container{
    width: 60%;
    color: #fff;
    margin: 2em auto;
  }
  .memory-main-container h1{
    color: #fff;
  }
  .memory-controller{
    display: flex;
    flex-direction: column;
  }

  .btn-easy{
      background:#2ecc71;
      margin: 1em;
  }
  .btn-hard{
    background: #e67e22;
    margin: 1em;
  }
  .btn-difficult{
    background:#e74c3c;
    margin: 1em;
  }
  #game{
    position: relative;
  }
  .memo-grid {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  .card {
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    margin: 5px;
    cursor: pointer;
  }
  
  .card,
  .back,
  .front {
    height: 150px;
    width: 150px;
  }
  
  .back,
  .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .front {
    background: #51aee6 url('../memo-images/logo-wave.png') no-repeat center center / contain;
    border-radius: 1em;
  }
  .front:hover{
    margin-top: 5px;
    transition: .5s;
  }
  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card.selected {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  
  .match .front {
    background: transparent !important;
    border: 2px solid #eee;
  }

  /* The Modal (background) */
  .modal-game {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .game-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  .game-modal-content h1{
    color: #3498db;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-memo{
    color: #333;
    background-color: #3498db;
    border-radius: 5px;
    border-color: #333;
  }
  .btn-memo:active{
    background-color: #2980b9;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1em;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .card, .back, .front {
      max-height: 50px;
      max-width: 50px;
    }
    .card{
      margin:10px;
    }
  
  } 
  @media only screen and (min-width: 425px) and (max-width: 600px) {
    .card{
      margin:5px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .card, .back, .front {
      max-height: 100px;
      max-width: 100px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .game-modal-content{
      width: 50%;
    }
    .card, .back, .front {
      max-height: 130px;
      max-width: 130px;
    }
  } 
  