body{
    margin:0;
}
.canvas{
    width: 600px;
}
.game-container{
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.controller {
    position: absolute;
    bottom: 5%;
    right: 0;
    display: none;
    width: 110px;

}

.btn-game{
    width: 30px;
    height: 30px;
    font-size: 9px;
    border: none;
    border-radius: 5px;
    background-color: #34495e;
    color: white;
    box-shadow: 2px 2px 5px #333;
    margin-bottom: 4px;
    cursor: pointer;
}
.btn-restart{
    background-color: #e74c3c;
    box-shadow: 2px 2px 5px #333;
}
.btn-start{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 70px!important;
    height: 50px!important;
    font-size: 18px;
    background: #e74c3c;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333;
}

.btn-empty{
    visibility: hidden;
}
.game{
    
   width: 100%;
}
/* The Modal (background) */
.box-modal {
    position: absolute;
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .pacman-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .game-over{
    margin: 0 auto;
  }
  .gameOver{
    color: #e74c3c;
   
  }
 .winGame{
    color: #2ecc71;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* Mobile verion */

@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .game-container{
        width: 100%;
    }
    .btn-game{
        width: 45px;
        height: 45px;
    }
    .controller{
        width: 150px;
        margin-left: auto;
        position: relative;
    }
    .btn-game .fas {
        font-size: 8px;
        
    }
 }
 @media only screen and (min-device-width:468px)and (max-device-width:768px){
    /* default iPad screens */
    .game-container{
        width: 100%;
    }
    
    
    .btn-game{
        width: 40px;
        height: 40px;
    }
    .controller{
        width: 150px;
    }
    .pacman-modal-content .btn-game{
        width: 30px;
        height: 30px;
    }
 }
 /* /* different techniques for iPad screening */
 @media only screen and (min-device-width: 420px) and (max-device-width: 678px) and (orientation:portrait) {
   /* For portrait layouts only */
     /* styles for mobile browsers smaller than 480px; (iPhone) */
     .game-container{
        width: 100%;
    }
    .btn-game{
        width: 45px;
        height: 45px;
    }
    .controller{
        width: 150px;
        margin-left: auto;
        position: relative;
    }
    
 } 

 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   /* For landscape layouts only */
   .game-container{
    width: 100%;
    height: 100vh;
    }
    .game{
        height: 100vh;
    }
    .btn-game{
        
        height: 50px!important;
        width: 50px;
        
    }
    .controller{
        width: 185px;
        bottom: 2;
    }
 }


