<script type="text/x-magento-init">
        {
            "*":{
                "NStudios_Games/js/brick":{
                  "options":"<?php echo $this->getViewFileUrl('NStudios_Games::images'); ?>"
                }
            }
        }
</script>

<div id="brickWrapper" class="game-wrapper">
        <canvas id="squish-brick" width="500" height="500"></canvas>
        <div class="mobile-controller">
            <button class="mBtn side"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
            <button class="mBtn" id="keyUp"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
            <button class="mBtn side"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
            <button class="mBtn" id="keyLeft"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button class="mBtn" id="keyDown"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <button class="mBtn" id="keyRight"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
</div>  

