<script type="text/x-magento-init">
        {
            "*":{
                "NStudios_Games/js/memo":{
                  "options":"<?php echo $this->getViewFileUrl('NStudios_Games::memo-images'); ?>"
                }
            }
        }
</script>


<div class="container">
  <div class="row">
    <div id="count-down" class="count-down"><!-- timer --></div>
      <div class="col-md-12">
        <div id="game">
          <!-- Modal -->
          <div id="GameModal" class="modal-game">
            <div class="game-modal-content">
              <h1 id='modal-text'>Congratulations you won the game..</h1>
              <button id="memo-game" class="btn btn-memo" type="button">Play Again</button>
            </div>
          </div>
          <div class="memory-main">
            <div class="memory-main-container">
              <div class="memory-controller">
                <button class="btn btn-easy">Easy</button>
                <button class="btn btn-hard">Hard</button>
                <button class="btn btn-difficult">Difficult</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
