<script type="text/x-magento-init">
        {
            "*":{
                "NStudios_Games/js/pacman":{}
            }
        }
</script>


<div class="game-container">
          

           <button class="btn-start" onclick="startGame()">Start</button> 
            <img id="squish" style="display: none;" src="<?php echo $this->getViewFileUrl('NStudios_Games::memo-images/Hedgehog_HANS.png'); ?>"> 
            <canvas id="myCanvas" class="game" width="510" height="510"> </canvas>

            <div class="controller hide">
                <button class="btn-game btn-restart" onclick="restartGame()"><i class="fas fa-sync-alt"></i></button>
                <button class="btn-game btn-up" onclick="keyUp()"><i class="fas fa-arrow-up"></i></button>
                <button class="btn-game btn-empty" >Up</button>
                <button class="btn-game btn-left" onclick="keyLeft()"> <i class="fas fa-arrow-left"></i> </button>
                <button class="btn-game btn-down" onclick="keyDown()"><i class="fas fa-arrow-down"></i></button>
                <button class="btn-game btn-right" onclick="keyRight()"><i class="fas fa-arrow-right"></i></button>    
            </div>  

            <div id="box-modal" class="box-modal">

                <!-- Modal content -->
                <div class="pacman-modal-content">
                  <p class="modalText">Some text in the Modal..</p>
                  <button class="game-over btn-game btn-restart" onclick="restartGame()"><i class="fas fa-sync-alt"></i></button>
                </div>              
              </div>
        </div>